# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pics
uploads/

# Env files
.env
.env.local

# Build folders
dist/
build/

logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
